.wpba-actions-settings {
	display: inline;

	.wpba-action-settings {
		display: inline;

		input[type="text"] {
			height: 28px;
		}

		.button {
			display: inline-block;
			margin: 1px 0 0 0;
		}

		&.wpba-settings-change-featured-image {
			.wpba-current-image {
				display: inline-block;
				margin-top: 1px;

				img {
					display: block;
					width: 28px;
					border: 1px solid #CCC;
					box-sizing: border-box;
					border-radius: 3px;
				}
			}
		}
	}

	.highlightable {
		-webkit-transition: border-color 1s;
		-moz-transition: border-color 1s;
		-o-transition: border-color 1s;
		transition: border-color 1s;

		&.temporary-highlight {
			border-color: #00a0d2;
		}

		&.highlight-error {
			border-color: #d54e21;
		}
	}
}

.notice.updated .wpba-featured-image {
	display: block;

	img {
		display: block;
		height: 40px;
	}
}