.wpba-actions-settings {
  display: inline; }
  .wpba-actions-settings .wpba-action-settings {
    display: inline; }
    .wpba-actions-settings .wpba-action-settings input[type="text"] {
      height: 28px; }
    .wpba-actions-settings .wpba-action-settings .button {
      display: inline-block;
      margin: 1px 0 0 0; }
    .wpba-actions-settings .wpba-action-settings.wpba-settings-change-featured-image .wpba-current-image {
      display: inline-block;
      margin-top: 1px; }
      .wpba-actions-settings .wpba-action-settings.wpba-settings-change-featured-image .wpba-current-image img {
        display: block;
        width: 28px;
        border: 1px solid #CCC;
        box-sizing: border-box;
        border-radius: 3px; }
  .wpba-actions-settings .highlightable {
    -webkit-transition: border-color 1s;
    -moz-transition: border-color 1s;
    -o-transition: border-color 1s;
    transition: border-color 1s; }
    .wpba-actions-settings .highlightable.temporary-highlight {
      border-color: #00a0d2; }
    .wpba-actions-settings .highlightable.highlight-error {
      border-color: #d54e21; }

.notice.updated .wpba-featured-image {
  display: block; }
  .notice.updated .wpba-featured-image img {
    display: block;
    height: 40px; }
