.wpba-actions-settings {
  display: inline; }
  .wpba-actions-settings .wpba-action-settings {
    display: inline; }
    .wpba-actions-settings .wpba-action-settings input[type="text"] {
      height: 28px; }
